<h1>Angular</h1>
<!--
<course></course>
<courses></courses>
<authors></authors>
<test></test>
-->
<favorite [is-favorite]="post.isFavorite" (change)="onChange($event)"></favorite>
<text-to-be-formated></text-to-be-formated>
<like [isActive]="like.isLiked" [likes]="like.likeCount"></like>
<learnngif></learnngif>
<learnngswitchcase></learnngswitchcase>

<learnngfor></learnngfor>

<learnngstyle></learnngstyle>
<!--
<bootstrap-panel>
  <div class="heading">
    Heading
  </div>
  <div class="body">
    <h1>Body</h1>
    <p>Bla bla bla bla</p>
  </div>
</bootstrap-panel>
-->
