<h1>Angular</h1>
<!--
<course></course>
<courses></courses>
<authors></authors>
<test></test>

<favorite [is-favorite]="post.isFavorite" (change)="onChange($event)"></favorite>
<text-to-be-formated></text-to-be-formated>
<like [isActive]="like.isLiked" [likes]="like.likeCount"></like>
<learnngif></learnngif>
<learnngswitchcase></learnngswitchcase>
<br/>
<learnngfor></learnngfor>
<br/>
<learnngstyle></learnngstyle>
<br/>
<learntraversal></learntraversal>
<br/>
<learncustomdirective></learncustomdirective>
<br/>

<zippy title="Shipping Details">
  Shippin details content!
</zippy>
-->
<newcourseform></newcourseform>
<post></post>
<!--
<sign-up></sign-up>

<templateformassignment></templateformassignment>
<contact-form2></contact-form2> -->
<!--
<bootstrap-panel>
  <div class="heading">
    Heading
  </div>
  <div class="body">
    <h1>Body</h1>
    <p>Bla bla bla bla</p>
  </div>
</bootstrap-panel>
-->
